In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/12/17 21:13:06 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [3]:
df_green.show()

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       2| 2020-01-11 04:05:54|  2020-01-11 04:13:49|                 N|       1.0|         129|         129|            1.0|         0.81|        6.5|  0.5|    0.5|      0.71|         0.0|     null|                  0.3|        8.51|         1.0|      1.0|                 0.0|
|       2| 2020-01-17 19:33:05|  2020-01-17 19:51:08|                 N|       1.0|          75|          42|            3.0|         2.69|       13.5|  1.0|    0.5|      3.06|         0.0|     null|                  0.3|       18.36|         1.0|      1.0|                 0.0|
|       2| 2020-01-30 12:41:00|  2020-01-30 13:30:00|              null|      null|         117|         188|           null|        13.11|      38.57| 2.75|    0.0|       0.0|        2.29|     null|                  0.3|       43.91|        null|     null|                null|
|       2| 2020-01-11 21:25:44|  2020-01-11 21:40:11|                 N|       1.0|          41|         151|            1.0|         2.13|       11.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        12.3|         2.0|      1.0|                 0.0|
|       2| 2020-01-04 21:45:19|  2020-01-04 21:52:57|                 N|       1.0|         129|         260|            1.0|         0.89|        6.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         7.8|         2.0|      1.0|                 0.0|
|       2| 2020-01-15 19:07:07|  2020-01-15 19:12:56|                 N|       1.0|          75|          75|            1.0|         0.88|        5.5|  1.0|    0.5|      1.46|         0.0|     null|                  0.3|        8.76|         1.0|      1.0|                 0.0|
|       2| 2020-01-11 00:01:17|  2020-01-11 00:10:14|                 N|       1.0|          66|         232|            1.0|         2.25|        9.5|  0.5|    0.5|      2.71|         0.0|     null|                  0.3|       16.26|         1.0|      1.0|                2.75|
|       2| 2020-01-16 14:54:30|  2020-01-16 15:00:39|                 N|       1.0|         129|         129|            2.0|         0.91|        6.0|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|         6.8|         2.0|      1.0|                 0.0|
|       2| 2020-01-01 19:53:32|  2020-01-01 20:05:59|                 N|       1.0|          41|         168|            5.0|         2.69|       11.0|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|        11.8|         2.0|      1.0|                 0.0|
|       2| 2020-01-21 06:53:00|  2020-01-21 07:24:00|              null|      null|          37|          33|           null|         5.35|      30.99| 2.75|    0.0|       0.0|         0.0|     null|                  0.3|       34.04|        null|     null|                null|
|       2| 2020-01-19 12:18:31|  2020-01-19 12:23:29|                 N|       1.0|         129|         129|            1.0|         0.58|        5.0|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|         5.8|         2.0|      1.0|                 0.0|
|       2| 2020-01-12 10:38:00|  2020-01-12 10:56:00|              null|      null|          51|          60|           null|         7.83|      27.65| 2.75|    0.0|       0.0|         0.0|     null|                  0.3|        30.7|        null|     null|                null|
|       1| 2020-01-04 13:39:34|  2020-01-04 13:43:59|                 N|       1.0|         255|         255|            1.0|          0.5|        5.0|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|         5.8|         2.0|      1.0|                 0.0|
|       1| 2020-01-27 14:50:40|  2020-01-27 14:56:26|                 N|       1.0|          95|          95|            1.0|          0.9|        6.0|  0.0|    0.5|      1.35|         0.0|     null|                  0.3|        8.15|         1.0|      1.0|                 0.0|
|       2| 2020-01-20 08:41:00|  2020-01-20 09:25:00|              null|      null|          86|         140|           null|        23.88|      67.67| 2.75|    0.0|       0.0|        6.12|     null|                  0.3|       76.84|        null|     null|                null|
|       2| 2020-01-07 13:39:00|  2020-01-07 13:52:00|              null|      null|          82|          56|           null|         1.96|      15.89| 2.75|    0.0|       0.0|         0.0|     null|                  0.3|       18.94|        null|     null|                null|
|       1| 2020-01-25 10:04:57|  2020-01-25 10:12:57|                 N|       5.0|         182|         213|            1.0|          0.0|        8.0|  0.0|    0.0|       0.0|         0.0|     null|                  0.0|         8.0|         2.0|      2.0|                 0.0|
|       2| 2020-01-03 16:29:05|  2020-01-03 16:39:03|                 N|       1.0|           7|         223|            1.0|         1.43|        8.5|  1.0|    0.5|       0.0|         0.0|     null|                  0.3|        10.3|         2.0|      1.0|                 0.0|
|       2| 2020-01-09 23:33:28|  2020-01-09 23:38:47|                 N|       1.0|         255|         256|            1.0|         0.85|        5.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         6.8|         2.0|      1.0|                 0.0|
|       2| 2020-01-03 23:16:25|  2020-01-03 23:30:25|                 N|       5.0|          69|         247|            1.0|         2.41|       15.0|  0.0|    0.0|       0.0|         0.0|     null|                  0.3|        15.3|         2.0|      2.0|                 0.0|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 20 rows

In [4]:
from pyspark.sql import functions as F

In [9]:
# Perform the same transformations and calculations using DataFrame API
df_green_revenue = df_green \
    .withColumn('hour', F.date_trunc('hour', F.col('lpep_pickup_datetime'))) \
    .filter(F.col('lpep_pickup_datetime') >= '2020-01-01 00:00:00') \
    .groupBy('hour', 'PULocationID') \
    .agg(
        F.sum('total_amount').alias('amount'),
        F.count('*').alias('number_records')  # Count all rows in the group
    )

In [10]:
df_green_revenue.show()

+-------------------+------------+------------------+--------------+
|               hour|PULocationID|            amount|number_records|
+-------------------+------------+------------------+--------------+
|2020-01-22 18:00:00|          49|            163.25|             8|
|2020-01-23 13:00:00|         260|            135.01|             9|
|2020-01-05 19:00:00|         216|            249.89|             7|
|2020-01-16 13:00:00|          82| 309.4800000000002|            30|
|2020-01-17 08:00:00|         116|333.40000000000003|            20|
|2020-01-05 14:00:00|          74|1208.1699999999987|            87|
|2020-01-16 22:00:00|          35|             64.75|             2|
|2020-01-08 20:00:00|          65| 447.3200000000001|            32|
|2020-01-12 04:00:00|          80|            178.57|            11|
|2020-01-22 09:00:00|          74|1390.3599999999988|           101|
|2020-01-04 08:00:00|         260|38.150000000000006|             4|
|2020-01-22 14:00:00|          25| 365.2900000000001|            22|
|2020-01-09 11:00:00|         225|            380.23|            19|
|2020-01-12 14:00:00|          74|1007.6399999999993|            72|
|2020-01-10 19:00:00|         166| 308.9800000000001|            20|
|2020-01-17 14:00:00|         140|141.20000000000002|             4|
|2020-01-03 14:00:00|           7| 583.3200000000002|            32|
|2020-01-11 15:00:00|         220|14.600000000000001|             2|
|2020-01-09 16:00:00|         197|1141.5900000000001|            27|
|2020-01-04 15:00:00|          91|126.27999999999999|             4|
+-------------------+------------+------------------+--------------+
only showing top 20 rows

In [11]:
df_green_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/green', mode='overwrite')

In [14]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [16]:
# Perform the same transformations and calculations using DataFrame API
df_yellow_revenue = df_yellow \
    .withColumn('hour', F.date_trunc('hour', F.col('tpep_pickup_datetime'))) \
    .filter(F.col('tpep_pickup_datetime') >= '2020-01-01 00:00:00') \
    .groupBy('hour', 'PULocationID') \
    .agg(
        F.sum('total_amount').alias('amount'),
        F.count('*').alias('number_records')  # Count all rows in the group
    )

In [17]:
df_yellow_revenue.show()

+-------------------+------------+------------------+--------------+
|               hour|PULocationID|            amount|number_records|
+-------------------+------------+------------------+--------------+
|2020-01-14 14:00:00|         138|14898.500000000011|           339|
|2020-01-11 22:00:00|         132|18350.820000000014|           355|
|2020-01-22 16:00:00|         230| 9063.570000000022|           507|
|2020-01-12 02:00:00|           4|1224.3199999999997|            71|
|2020-01-13 11:00:00|         237| 7470.460000000018|           550|
|2020-01-04 17:00:00|         143|2078.5999999999995|           135|
|2020-01-28 19:00:00|         238|3897.2200000000016|           247|
|2020-01-08 08:00:00|          68|           3530.24|           223|
|2020-01-20 13:00:00|         163| 6030.090000000009|           345|
|2020-01-21 08:00:00|         113|3592.9900000000002|           225|
|2020-01-20 19:00:00|          48|4079.9000000000024|           262|
|2020-01-26 12:00:00|         113|2891.2499999999986|           196|
|2020-01-21 20:00:00|         132| 26911.15999999995|           498|
|2020-01-14 13:00:00|         238|3767.7700000000027|           246|
|2020-01-04 18:00:00|         186| 6382.860000000012|           366|
|2020-01-15 23:00:00|           4|            205.26|            12|
|2020-01-09 17:00:00|         164| 5335.370000000004|           315|
|2020-01-02 22:00:00|         140|1302.4499999999996|            73|
|2020-01-02 14:00:00|         163| 5962.800000000012|           335|
|2020-01-15 09:00:00|         238| 4803.910000000006|           287|
+-------------------+------------+------------------+--------------+
only showing top 20 rows

In [18]:
df_yellow_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/yellow', mode='overwrite')

In [19]:
df_green_revenue = spark.read.parquet('data/report/revenue/green')
df_yellow_revenue = spark.read.parquet('data/report/revenue/yellow')

In [22]:
df_green_revenue.columns

['hour', 'PULocationID', 'amount', 'number_records']

In [23]:
df_yellow_revenue.columns

['hour', 'PULocationID', 'amount', 'number_records']

In [24]:
df_green_revenue_tmp = df_green_revenue \
    .withColumnRenamed('amount', 'green_amount') \
    .withColumnRenamed('number_records', 'green_number_records')

df_yellow_revenue_tmp = df_yellow_revenue \
    .withColumnRenamed('amount', 'yellow_amount') \
    .withColumnRenamed('number_records', 'yellow_number_records')

In [25]:
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=['hour', 'PULocationID'], how='outer')

In [26]:
df_join.show()

+-------------------+------------+------------------+--------------------+------------------+---------------------+
|               hour|PULocationID|      green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+------------+------------------+--------------------+------------------+---------------------+
|2020-01-01 00:00:00|          10|              null|                null|             42.41|                    2|
|2020-01-01 00:00:00|          17|            195.03|                   9|220.20999999999998|                    8|
|2020-01-01 00:00:00|          35|            129.96|                   5|              null|                 null|
|2020-01-01 00:00:00|          36|295.34000000000003|                  11|            109.17|                    3|
|2020-01-01 00:00:00|          42| 799.7599999999992|                  52| 635.3500000000004|                   46|
|2020-01-01 00:00:00|          45|              null|                null| 732.4800000000004|                   42|
|2020-01-01 00:00:00|          50|              null|                null| 4177.480000000003|                  183|
|2020-01-01 00:00:00|          68|              null|                null| 7825.070000000012|                  396|
|2020-01-01 00:00:00|          70|54.900000000000006|                   3|               9.3|                    1|
|2020-01-01 00:00:00|          71|              23.8|                   1|              null|                 null|
|2020-01-01 00:00:00|          73|              null|                null|              17.3|                    1|
|2020-01-01 00:00:00|          76|            143.78|                   4|             35.51|                    2|
|2020-01-01 00:00:00|          77| 75.99000000000001|                   2|            134.24|                    3|
|2020-01-01 00:00:00|          79|              null|                null|12573.810000000003|                  721|
|2020-01-01 00:00:00|          82| 305.1200000000001|                  28|              29.8|                    1|
|2020-01-01 00:00:00|          83|              94.1|                   7|               9.8|                    1|
|2020-01-01 00:00:00|         107|              null|                null| 6441.030000000009|                  380|
|2020-01-01 00:00:00|         112|312.26000000000005|                  18|119.47999999999999|                    8|
|2020-01-01 00:00:00|         114|              null|                null| 6256.430000000009|                  333|
|2020-01-01 00:00:00|         125|              null|                null|           1342.07|                   68|
+-------------------+------------+------------------+--------------------+------------------+---------------------+
only showing top 20 rows

In [27]:
df_join.write.parquet('data/report/revenue/total', mode='overwrite')

In [28]:
df_join = spark.read.parquet('data/report/revenue/total')

In [29]:
df_join.show()

+-------------------+------------+------------------+--------------------+------------------+---------------------+
|               hour|PULocationID|      green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+------------+------------------+--------------------+------------------+---------------------+
|2020-01-01 00:00:00|           4|              null|                null|            1004.3|                   57|
|2020-01-01 00:00:00|           7| 769.7299999999996|                  45| 455.1700000000002|                   38|
|2020-01-01 00:00:00|          22|              15.8|                   1|              null|                 null|
|2020-01-01 00:00:00|          25|             531.0|                  26|324.34999999999997|                   16|
|2020-01-01 00:00:00|          33|317.27000000000004|                  11|            255.56|                    8|
|2020-01-01 00:00:00|          34|              null|                null|              19.3|                    1|
|2020-01-01 00:00:00|          41|1363.9599999999987|                  84|1256.5299999999997|                   80|
|2020-01-01 00:00:00|          43|            107.52|                   6| 6539.510000000016|                  390|
|2020-01-01 00:00:00|          49|266.76000000000005|                  14|            185.65|                   10|
|2020-01-01 00:00:00|          52|             83.33|                   4|              49.8|                    2|
|2020-01-01 00:00:00|          56|             99.69|                   3|              18.1|                    2|
|2020-01-01 00:00:00|          59|50.900000000000006|                   3|              null|                 null|
|2020-01-01 00:00:00|          60|            160.04|                   6|57.620000000000005|                    2|
|2020-01-01 00:00:00|          62|             15.95|                   1|             61.43|                    1|
|2020-01-01 00:00:00|          63|              51.9|                   2|              70.8|                    1|
|2020-01-01 00:00:00|          74| 317.0900000000001|                  24| 586.2100000000003|                   47|
|2020-01-01 00:00:00|          94| 64.24000000000001|                   3|              13.3|                    1|
|2020-01-01 00:00:00|          97|            786.18|                  25|            403.02|                   20|
|2020-01-01 00:00:00|         119|             67.77|                   4|              47.3|                    2|
|2020-01-01 00:00:00|         130|            133.35|                   7|              null|                 null|
+-------------------+------------+------------------+--------------------+------------------+---------------------+
only showing top 20 rows

In [31]:
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv

--2024-12-17 23:38:51--  https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 54.230.209.72, 54.230.209.140, 54.230.209.126, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|54.230.209.72|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12331 (12K) [text/csv]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.04K  --.-KB/s    in 0.001s

2024-12-17 23:38:51 (19.7 MB/s) - ‘taxi_zone_lookup.csv’ saved [12331/12331]

In [33]:
df_zones = spark.read \
    .option("header", "true") \
    .csv('taxi_zone_lookup.csv')

In [34]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [35]:
df_zones.write.parquet('zones')

In [36]:
df_zones = spark.read.parquet('zones/')

In [37]:
df_join.columns

['hour',
 'PULocationID',
 'green_amount',
 'green_number_records',
 'yellow_amount',
 'yellow_number_records']

In [38]:
df_zones.columns

['LocationID', 'Borough', 'Zone', 'service_zone']

In [39]:
df_result = df_join.join(df_zones, df_join.PULocationID == df_zones.LocationID)

In [40]:
df_result.drop('LocationID', 'zone').write.parquet('tmp/revenue-zones')

In [42]:
df_result.columns

['hour',
 'PULocationID',
 'green_amount',
 'green_number_records',
 'yellow_amount',
 'yellow_number_records',
 'LocationID',
 'Borough',
 'Zone',
 'service_zone']

In [43]:
spark.stop()